* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
   
  }

  :root{
    --bs-grassGreen: #586d45;
    --bs-orange: #ecc052;
    --bs-lightGreen: #c6d1ac;
    --bs-green: #a5b29d;
    --bs-lightPink: #fad4c8;
    --bs-lightgray:#f1eae1;
    --bs-gray:#c3cfc2;
  }
  
/* INICIO CARROUSEL */
#carousel figure {
  display: block;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10px;
  top: 10px;
  border: 2px solid rgba(   0, 0, 0, 0.8 );
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}
.service{
  margin-bottom: -28rem;
  margin-top: 8rem;
  font-family: 'Allura', cursive;
  font-size: 72px;
  color: var(--bs-grassGreen);
  font-weight: 550;
  text-align: center;
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

/* FIN CARROUSEL */
  .homeImage {
    
  height: 150vh;
    background-image: url('../images/random/TDW-67.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    animation: image 5s ease 0s 1 normal forwards;
    
  }
  @keyframes image {
	0% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 10%;
	}
}



  .logo{
    width: 25%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     margin-top: 6rem;
     margin-left: 2rem;
     animation: myAnim 1s ease 0s 1 normal forwards;
    
  }
  @keyframes myAnim {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }

  .logotipo{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    margin-top: 16rem;
    
    
  }

  .top{
    display: flex;
    align-items: center;
    /* background-color: var(--bs-gray); */
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */

    height: 0px;
  }

 
  
  nav {
    
    justify-self:end;
    
    margin-bottom: 8rem;
    
    
    
  }
 
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 4px solid var(--bs-grassGreen);

    
    
  }
  
  li {
    width: 70px;
    margin-right: 2rem;
    
  }
  
  li a {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    color: var(--bs-grassGreen);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  li a:hover {
    color: #f1c40f;
    border-bottom: 4px #f1c40f solid;
    transition: 0.5s;
  }
 
  
  .hide {
    top: 70px;
  }

  .slogan{
    font-family: 'Allura', cursive;
    font-size: 56px;
    color: var(--bs-lightPink);
    line-height: normal;
    font-weight: 550;
    margin-top: -41rem;
    margin-left: 60rem;
    width: 328px;
  }
  .sloganCopy{
    font-family: 'Allura', cursive;
    color: var(--bs-lightPink);
    font-size: 46px;
    font-weight: 600;
    line-height: normal;
    /* margin-left: -28rem; */
    text-align: center;
    margin-top: 30rem;
    margin-bottom: 5rem;
  }


.carrouselTitle{
  font-family: 'Allura', cursive;
    font-size: 46px;
    font-weight: 500;
    margin-top: 10rem;
}

.carouselCard{
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: var(--bs-lightGreen);
}

.break{
  margin-top:5rem;
}
  
  @media screen and (max-width: 700px) {
    /* HAMBURGER */
    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 8px;
      cursor: pointer;
      padding: 10px;
      margin-right: -10px;
    }
  
    .lines {
      display: block;
      background-color: white;
      height: 2px;
      width: 35px;
    }
  
    .lines-rotate {
      background-color: rgb(85, 84, 84);
      border-radius: 5px;
    }
  
    nav {
      position: relative;
      padding: 15px 20px;
    }
  
    ul {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -300px;
      right: 0;
      background-color: #f1c40f;
      
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.363);
    }
  
    li a {
      color: rgba(12, 11, 11, 0.836);
    }
  
    li {
      text-align: center;
      width: 90vw;
    }
  
    li a:hover {
      font-weight: bold;
      color: #191e24;
      border: none;
      letter-spacing: 3px;
    }

    
  }
  
  