* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    text-align: center;
   
  }

  :root{
    --bs-grassGreen: #586d45;
    --bs-orange: #ecc052;
    --bs-lightGreen: #c6d1ac;
    --bs-green: #a5b29d;
    --bs-lightPink: #fad4c8;
    --bs-lightgray:#f1eae1;
    --bs-gray:#c3cfc2;
  }
  
  body {
    
    height: 100vh;
    background-image: url('../images/pexels-asad-photo-maldives-1024993.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    
  }



  .logo{
    width: 20%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
     margin-top: 4rem
     
    
  }

  .logotipo{
    display: flex;
    justify-content: space-between;
    align-items:center;
    
    margin-top: 16rem;
    
    
  }

  .top{
    display: flex;
    align-items: center;
    /* background-color: var(--bs-gray); */
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */

    height: 52px;
  }

 
  
  nav {
    color: white;
    justify-self:end;
    border-bottom: 1px solid white;
    
  }
 
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8rem;
  }
  
  li {
    width: 70px;
    margin-right: 2rem;
    
  }
  
  li a {
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  
  li a:hover {
    color: #f1c40f;
    border-bottom: 4px #f1c40f solid;
    transition: 0.5s;
  }
  
  .hide {
    top: 70px;
  }

  .slogan{
    font-family: 'Allura', cursive;
    font-size: 72px;
    color: black;
    font-weight: 580;
    margin-top:16rem;
    margin-left: 32rem;
  }
  .sloganCopy{
    font-family: 'Allura', cursive;
    font-size: 46px;
    font-weight: 500;
    margin-left: 32rem;
  }

  .carrousel {
    margin-top: 4rem;
    display: flex;
    width: 950px;
    height: 630px;
    object-fit: cover;
    margin-bottom: 4rem;
    
    
  }
  .carrouselImg{
    display: flex;
    justify-content: center;
    background-color: var(--bs-lightgray);
    margin: 2rem;
   
    
   
  }

  .carrousel img{
    width: 90px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .2 ease
  }

  .carrousel img:hover{
  cursor: crosshair;
    width: 900px;
    opacity: 1;
    filter: contrast(120%);
}
.carrouselTitle{
  font-family: 'Allura', cursive;
    font-size: 46px;
    font-weight: 500;
    margin-top: 24rem;
}
  
  @media screen and (max-width: 700px) {
    /* HAMBURGER */
    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 8px;
      cursor: pointer;
      padding: 10px;
      margin-right: -10px;
    }
  
    .lines {
      display: block;
      background-color: white;
      height: 2px;
      width: 35px;
    }
  
    .lines-rotate {
      background-color: rgb(85, 84, 84);
      border-radius: 5px;
    }
  
    nav {
      position: relative;
      padding: 15px 20px;
    }
  
    ul {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -300px;
      right: 0;
      background-color: #f1c40f;
      
      border-radius: 0 0 20px 20px;
      box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.363);
    }
  
    li a {
      color: rgba(12, 11, 11, 0.836);
    }
  
    li {
      text-align: center;
      width: 90vw;
    }
  
    li a:hover {
      font-weight: bold;
      color: #191e24;
      border: none;
      letter-spacing: 3px;
    }

    
  }
  
  